<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">{{i18n.main.menu.events}}</a></li>
      <li class="active">{{i18n.main.menu.about}}</li>
    </ol>
  </div>
  <div class="row well">
    <h5>{{i18n.about.text}}</h5>
    <h5>{{i18n.about.src}}: <a href="https://github.com/bgawel/agenda">https://github.com/bgawel/agenda</a></h5>
    <h5>{{i18n.about.xray}}: {{i18n.about.client}}: <b>AngularJS, Bootstrap</b>, {{i18n.about.server}}: <b>Groovy/Grails</b></h5>
    <h5>{{i18n.about.contact}}: agenda.wro@gmail.com</h5>
  </div>
</div>
