<div class="modal-header">
  <h6>{{i18n.login.changePwd}}</h6>
</div>
<form class="form-horizontal form-pwd" role="form" name="form.pwd" ng-form-autofill-fix
    novalidate ng-class="{validate: formPwdValidations}" ng-submit="change()">
<div class="modal-body">
  <info-panel panel="pwdMsgPanel" form="form.pwd"></info-panel>
  <input name="username" ng-model="inst.email" ng-hide="true">
  <div class="form-group">
    <label for="oldPwd" class="col-sm-4 control-label">{{i18n.login.currentPwd}} *</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="oldPwd" required 
        autocomplete="{{pwd.newPwd ? 'on' : 'off'}}" autofocus
        name="oldPwd" maxlength="30" ng-model="pwd.oldPwd">
    </div>
    <div class="col-sm-offset-4 col-sm-8" ng-show="formPwdValidations && form.pwd.oldPwd.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span class="error">
        {{i18n.error.pwd}}
      </span>
    </div> 
  </div>        
  <div class="form-group">
    <label for="newPwd" class="col-sm-4 control-label">{{i18n.login.newPwd}} *</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="newPwd" required
        autocomplete="{{pwd.newPwd ? 'on' : 'off'}}"
        placeholder="{{i18n.placeholder.minPwd}}" name="password" ng-change="pwd.rePwd = undefined;"
        maxlength="30" ng-model="pwd.newPwd" ng-pattern="/.{5,}/" ng-server-error >
    </div>
    <div class="col-sm-offset-4 col-sm-8" ng-show="formPwdValidations && form.pwd.password.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span ng-show="form.pwd.password.$error.required || form.pwd.password.$error.pattern" class="error">
       {{i18n.error.newPwd}}
      </span>
      <span ng-show="form.pwd.password.$error.server" class="error">
        {{form.pwd.newPwd.$error.errorText}}
      </span>
    </div> 
  </div> 
  <div class="form-group">
    <label for="rePwd" class="col-sm-4 control-label">{{i18n.login.confirmNewPwd}} *</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="rePwd" required
        maxlength="30" ng-model="pwd.rePwd" name="rePwd" ng-same-as="pwd.newPwd">
    </div>
    <div class="col-sm-offset-4 col-sm-8" ng-show="formPwdValidations && form.pwd.rePwd.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span ng-show="form.pwd.rePwd.$error.required" class="error">
        {{i18n.error.confirmNewPwd}}
      </span>
      <span ng-show="form.pwd.rePwd.$error.sameAs" class="error">
        {{i18n.error.newPwdSameAs}}
      </span>      
    </div> 
  </div>   
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary">{{i18n.action.change}}</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">{{i18n.action.cancel}}</button>
</div> 
</form>