<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">Wydarzenia</a></li>
      <li class="active">{{event.catName}}</li>
    </ol>
  </div>
  <div class="row">
    <div class="event clearfix">
      <div class="col-xs-10">
        <h4><b>{{event.title}}</b>, 
          <small>
            <a href class="who" popover-placement="bottom" popover="{{event.whoAbout}}">{{event.whoName}}</a>
          </small>
        </h4>
        <img ng-if="event.pic" ng-src="{{event.pic}}" width="95" height="84">
        <div class="basic-info">
          <p>Miejsce: {{event.place}}</p>
          <p>Cena: {{event.price}}</p>
          <p ng-if="event.more">Więcej: <a ng-href="event.more">{{event.more}}</a></p>
        </div>
        <div class="description">
          <p>{{event.desc}}</p>
        </div>
      </div>
      <div class="col-xs-2">
        <p class="date">
          <b>{{event.dateTime | date:'dd-MM-yyyy'}}</b>
        </p>
        <p class="time"><b>{{event.dateTime | date:'HH:mm'}} </b></p>
      </div>
    </div>
  </div>
</div>