<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">{{i18n.main.menu.events}}</a></li>
      <li class="active">{{event.catName}}</li>
    </ol>
  </div>
  <div class="row">
    <div class="event clearfix">
      <div class="col-xs-9">
        <h4><b>{{event.title}}</b>, 
          <small ng-switch on="event.whoAbout">
            <a ng-switch-default href class="who" popover-placement="bottom" popover="{{event.whoAbout}}">{{event.whoName}}</a>
            <span ng-switch-when="">{{event.whoName}}</span>
          </small>
        </h4>
        <img ng-if="event.pic" ng-src="{{event.pic}}" width="95" height="84">
        <div class="basic-info">
          <p>{{i18n.event.where}}: {{event.place}}</p>
          <p>{{i18n.event.price}}: {{event.price}}</p>
          <p ng-if="event.more">{{i18n.event.more}}: <a ng-href="event.more">{{event.more}}</a></p>
        </div>
        <div class="description">
          <p>{{event.desc}}</p>
        </div>
      </div>
      <div class="col-xs-3">
        <p><b>{{event.displayDate}}</b></p>
        <p><b>{{event.displayTime}}</b></p>
      </div>
    </div>
  </div>
  <div class="row" ng-show="event.pdtps.length > 0">
    <div class="event clearfix">
      <div class="col-xs-12">
      <p class="other-pdtps">{{i18n.event.others}}:</p>
      <ul>
        <li ng-repeat="pdtp in event.pdtps">
          <div class="col-xs-3">
            {{pdtp.displayDate}}
          </div>
          <div class="col-xs-3">
            {{pdtp.displayTime}}
          </div>
          <div class="col-xs-3">
            {{pdtp.place}}
          </div>
          <div class="col-xs-3">
            {{pdtp.price}}
          </div>
        </li>
      </ul>
      </div>
    </div>
  </div>  
</div>