<div class="container">

  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Zaloguj się</h2>
    <input type="text" class="form-control" placeholder="E-mail adres" required autofocus/> 
    <input type="password" class="form-control" placeholder="Hasło" required/>
    <a class="btn btn-lg btn-primary btn-block" type="submit" href="#/panel/1">Zaloguj</a>
    <div class="not-signedup">
      <p class="signup">Nie masz konta? <a href="#/panel">Zarejestruj się</a></p>
      <div class="pros">
        <p>+ Twoja organizacja będzie widoczna na głównej stronie na liście organizatorów</p>
        <p>+ użytkownik będzie mógł wyświetlić dane Twojej organizacji przy wydarzeniu</p>
        <p>+ będziesz zarządzać swoimi wydarzeniami w panelu administracyjnym</p>
      </div>
      <p class="without-signup">lub zgłoś wydarzenie <a href="#/panel">bez rejestracji</a></p>
    </div>
  </form>

</div>