<div class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href ng-click="reload()">kulturalna AGENDA <span class="wroclawia">Wrocławia</span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href ng-click="reload()">Wydarzenia</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href ng-click="newEvent()">Zgłoś wydarzenie</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-click="about()">O nas</a></li>        
      </ul>      
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container">

  <div class="row row-offcanvas {{leftPanel}} {{rightPanel}}">

	<div class="col-xs-6 col-sm-2 sidebar-offcanvas left" id="sidebarLeft" role="navigation">
      <p>Kategorie:</p>
      <div class="list-group">
        <a ng-repeat="category in categories" href class="list-group-item {{category.ngClass}}"
            ng-click="changeCategory($index)">
          {{category.name}} <span class="badge">{{category.badge}}</span>
        </a>
      </div>
      <p>Organizatorzy w kategorii w wybranym terminie:</p>
      <div class="list-group">
        <a ng-repeat="inst in institutions[categories.active.name]" href class="list-group-item {{inst.ngClass}}"
            ng-click="changeInstitution($index)">
          {{inst.name}} <span class="badge">{{inst.badge}}</span>
        </a>
      </div>
    </div><!--/span-->

    <div class="middle-panel col-xs-12 col-sm-7">
      <p class="pull-left visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" 
        	ng-click="toggleLeftPanel()">Filtry</button>   
      </p>
      <p class="pull-right visible-xs">    
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" 
        	ng-click="toggleRightPanel()">Zapowiedzi</button>
      </p>
      
      <div>
        <div class="nav-by-day">
      	    <ul class="nav nav-tabs">
              <li ng-repeat="day in weekMenu" ng-class="day.ngClass" ng-switch on="day.id">
                <a ng-switch-when="all" ng-click="changeEventsDay($index)" href class="not-day">
                  {{day.name}}
                </a>
                <a ng-switch-when="future" ng-click="changeEventsDay($index)" href class="not-day">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a ng-switch-when="date" ng-click="openEventsCalendar($event, $index)"
                    datepicker-popup="'dd-MMMM-yyyy'" href class="not-day calendar"
                    ng-model="weekMenu.calendar.value" is-open="weekMenu.calendar.opened" 
                    min="weekMenu.calendar.minDate" datepicker-options="weekMenu.calendar.dateOptions"
                    current-text="Dziś" toggle-weeks-text="Tygodnie" close-text="Zamknij" clear-text="Wyczyść">
                  <span class="glyphicon glyphicon-calendar">
                  </span>
                  {{weekMenu.calendar.value | date:'dd MMM'}}
                </a>
                <a ng-switch-default ng-click="changeEventsDay($index)" href>
                  <abbr>{{day.abbr}}</abbr><br/>{{day.name}}
                </a>
              </li>
            </ul>
        </div>
        <div class="nav-sort clearfix">
          <p class="caption">
            Sortuj wg:
          </p>
          <ul class="nav nav-pills">
            <li ng-class="{active:(orderEventsBy=='dateTime')}"><a href ng-click="orderEventsBy='dateTime'">czasu</a></li>
            <li ng-class="{active:(orderEventsBy=='title')}"><a href ng-click="orderEventsBy='title'">tytułu</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div ng-repeat="event in events | filter:{catName: categories.filter.name, whoName: institutions.filter.name}:true | orderBy:orderEventsBy" 
            class="event clearfix">
          <div class="col-xs-10">
            <h4 id="event{{event.id}}"><a href ng-click="displayEvent(event.id, true)">{{event.title}}</a>, 
              <small ng-switch on="event.whoAbout">
                <a ng-switch-default href class="who" popover-placement="bottom" popover="{{event.whoAbout}}">{{event.whoName}}</a>
                <p ng-switch-when="">{{event.whoName}}</p>
              </small>
            </h4>
            <img ng-if="event.pic" ng-src="{{event.pic}}" width="95" height="84">
            <div class="basic-info">
              <p>Miejsce: {{event.place}}</p>
              <p>Cena: {{event.price}}</p>
              <p ng-if="event.more">Więcej: <a ng-href="event.more">{{event.more}}</a></p>
            </div>
            <div class="description">
              <p>{{event.desc}}</p>
            </div>
          </div>
          <div class="col-xs-2">
            <p class="category">{{event.catName}}</p>
            <p ng-if="weekMenu.active.id === 'all' || weekMenu.active.abbr === 'future'" class="date">
              <b>{{event.dateTime | date:'dd-MM-yyyy'}}</b>
            </p>
            <p class="time"><b>{{event.dateTime | date:'HH:mm'}} </b></p>
          </div>
        </div>     
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas right" id="sidebarRight" role="navigation">
      <p ng-show="newest.length > 0">Najnowsze wpisy:</p>
      <div class="list-group announcement">
        <a ng-repeat="event in newest" href ng-click="displayEvent(event.id)" class="list-group-item">{{event.text}}</a>
      </div>
      <p ng-show="soon.length > 0">Wkrótce:</p>
      <div class="list-group announcement">
        <a ng-repeat="event in soon" href ng-click="displayEvent(event.id)" class="list-group-item">{{event.text}}</a>
      </div>
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; DaDa Soft Lab 2014</p>
  </footer>

</div><!--/.container-->