<div class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">kulturalna AGENDA <span class="wroclawia">Wrocławia</span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Wydarzenia</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">O nas</a></li>        
      </ul>      
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container">

  <div class="row row-offcanvas {{leftPanel}} {{rightPanel}}">

	<div class="col-xs-6 col-sm-2 sidebar-offcanvas left" id="sidebarLeft" role="navigation">
      <p>Kategorie:</p>
      <div class="list-group">
        <a ng-repeat="category in categories" href class="list-group-item {{category.ngClass}}"
            ng-click="changeCategory($index)">
          {{category.name}} <span class="badge">{{category.badge}}</span>
        </a>
      </div>
      <p>Organizatorzy:</p>
      <div class="list-group">
        <a href="#" class="list-group-item">Wszyscy</span></a>
        <a href="#" class="list-group-item active">Teatr Polski <span class="badge">17</span></a>
        <a href="#" class="list-group-item">Teatr Pieśń Kozła <span class="badge">15</span></a>
        <a href="#" class="list-group-item">Instytut im. Jerzego Grotowskiego <span class="badge">13</span></a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div><!--/span-->

    <div class="middle-panel col-xs-12 col-sm-7">
      <p class="pull-left visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" 
        	ng-click="toggleLeftPanel()">Filtry</button>   
      </p>
      <p class="pull-right visible-xs">    
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" 
        	ng-click="toggleRightPanel()">Zapowiedzi</button>
      </p>
      <p class="add-event-offcanvas">
        <a href="#/login">Zgłoś wydarzenie</a>
      </p>
      
      <div>
        <div class="nav-by-day">
      	    <ul class="nav nav-tabs">
              <li ng-repeat="day in weekMenu" ng-class="day.ngClass" ng-switch on="day.abbr">
                <a ng-switch-when="" ng-click="changeEventsDay($index)" href class="not-day">{{day.name}}</a>
                <a ng-switch-default ng-click="changeEventsDay($index)" href><abbr>{{day.abbr}}</abbr><br/>{{day.name}}</a>
              </li>
            </ul>
        </div>
        <div class="nav-sort clearfix">
          <p class="caption">
            Sortuj wg:
          </p>
          <ul class="nav nav-pills">
            <li ng-class="{active:(orderEventsBy=='time')}"><a href ng-click="orderEventsBy='time'">czasu</a></li>
            <li ng-class="{active:(orderEventsBy=='title')}"><a href ng-click="orderEventsBy='title'">tytułu</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div ng-repeat="event in events | filter:{catName: categories.filter.name}:true | orderBy:orderEventsBy" 
            class="event clearfix">
          <div class="col-xs-10">
            <h4><a href="#/event/{{event.id}}">{{event.title}}</a>, 
              <small>
                <a href class="who" popover-placement="bottom" popover="{{event.who.about}}">{{event.who.name}}</a>
              </small>
            </h4>
            <img ng-if="event.pic" ng-src="{{event.pic}}" width="95" height="84">
            <div class="basic-info">
              <p>Miejsce: {{event.place}}</p>
              <p>Cena: {{event.price}}</p>
              <p ng-if="event.more">Więcej: <a ng-href="event.more">{{event.more}}</a></p>
            </div>
            <div class="description">
              <p>{{event.desc}}</p>
            </div>
          </div>
          <div class="col-xs-2">
            <p class="category">{{event.catName}}</p>
            <p class="time"><b>{{event.time}}</b></p>
          </div>
        </div>     
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas right" id="sidebarRight" role="navigation">
      <p>Najnowsze:</p>
      <div class="list-group announcement">
        <a href="#" class="list-group-item">[22-01, Teatr] Najnowsze przedstawienie Demirskiego i Strzępki...</a>
        <a href="#" class="list-group-item">[02-02, Performance] Sztuka to kłamstwo odsłaniające prawdę...</a>
        <a href="#" class="list-group-item">[07-03, Koncert] Koncert Neurosis...</a>
        <a href="#" class="list-group-item">[08-03, Teatr] <b>Mayday</b><br/><span>Jedna z najlepszych na świecie komedii...</span></a>
      </div>
      <p>Wkrótce:</p>
      <div class="list-group announcement">
        <a href="#" class="list-group-item">[22-01, Kino] Festiwal Nowe Horyzonty...</a>
        <a href="#" class="list-group-item">[02-02, Dla dzieci] Warsztaty - zabawa ciastoliną...</a>
        <a href="#" class="list-group-item">[07-03, Sztuka] Wystawa Aliny Szapocznikow w Muzeum Narodowym...</a>
      </div>
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; DaDa Soft Lab 2014</p>
  </footer>

</div><!--/.container-->