<div class="form-group">
  <label for="eventDate{{$index}}" class="col-sm-2 control-label">Kiedy *</label>
  <div class="col-sm-3 input-group" ng-switch on="pdtp.readonly">
    <input ng-switch-when="true" type="text" class="form-control" value="{{pdtp.toDate | date:'dd-MM-yyyy'}}" readonly />
    <input ng-switch-default type="text" class="form-control" id="eventDate{{$index}}" name="toDate"
      ng-date-fix datepicker-popup="dd-MM-yyyy" ng-model="pdtp.toDate" is-open="pdtp.opened" 
      ng-server-error ng-server-error-name="pdtps[{{$index}}].toDate"
      min="minDate" datepicker-options="dateOptions" required placeholder="np. 21-12-2014" maxlength="10"
      current-text="Dziś" toggle-weeks-text="Tygodnie" close-text="Zamknij" clear-text="Wyczyść"/> 
    <span ng-switch-default class="input-group-btn">
      <button class="btn btn-default" ng-click="openCalendar($event, pdtp)">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
  </div>
  <label for="eventTime{{$index}}" class="col-sm-offset-1 col-sm-2 control-label">O godzinie *</label>
  <div class="col-sm-2" id="eventTime{{$index}}" ng-model="pdtp.startTime" ng-switch on="pdtp.readonly">
    <input ng-switch-when="true" type="text" class="form-control"
      value="{{pdtp.startTime | date:'HH:mm'}}" readonly />
    <timepicker ng-switch-default show-meridian="isMeridian" name="startTime"/>
  </div>
  <div class="col-sm-offset-2 col-sm-5" ng-show="formEventValidations && subForm.toDate.$invalid">
    <span class="glyphicon glyphicon-exclamation-sign error"></span>
    <span ng-show="!subForm.toDate.$error.date && subForm.toDate.$error.required" class="error">
      Podaj termin wydarzenia 
    </span>
    <span ng-show="subForm.toDate.$error.date" class="error">
      Podany termin jest niepoprawny
    </span>    
    <span ng-show="subForm.toDate.$error.server" class="error">
      {{subForm.toDate.$error.errorText}}
    </span>    
  </div> 
  <!-- TODO bgawel: workaround: no name for 'time' -->
  <div class="col-sm-offset-{{subForm.toDate.$invalid ? '1' : '8'}} col-sm-4" 
      ng-show="formEventValidations && (subForm.startTime.$invalid || (subForm.$error.time && subForm.$error.time[0]))">
    <span class="glyphicon glyphicon-exclamation-sign error"></span>
    <span class="error">
      Podaj czas rozpoczęcia wydarzenia
    </span>
  </div>   
</div>