<info-panel panel="evtMsgPanel" form="form.event"></info-panel>
<form class="form-horizontal form-event" role="form" name="form.event" novalidate ng-class="{validate: formEventValidations}">
  <div class="form-group">
    <label for="eventTitle" class="col-sm-2 control-label">{{i18n.event.title}} *</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="eventTitle" required name="title"
        maxlength="64" ng-model="event.title" ng-readonly="!event.canDelete"
        placeholder="{{i18n.placeholder.event}}">
    </div>
    <div class="col-sm-offset-2 col-sm-10" ng-show="formEventValidations && form.event.title.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span class="error">
        {{i18n.error.event}}
      </span>
    </div> 
  </div>
  <div class="form-group">
    <label for="eventPic" class="col-sm-2 control-label">{{i18n.event.pic}}</label>
    <div class="col-sm-10">
      <input type="file" id="eventPic" ng-file-select ng-model="event.selectedPic" name="eventPic">
      <div ng-show="event.isNotImg" class="not-img">
        <span class="glyphicon glyphicon-ban-circle"></span>
        {{i18n.error.picFormat}}
      </div>
      <div ng-show="event.notOkSize" class="not-img">
        <span class="glyphicon glyphicon-ban-circle"></span>
        {{i18n.error.picSize}}
      </div>
      <div class="files-to-upload" ng-show="event.pic">
        <img class="img" ng-src="{{event.pic}}" width="95" height="84"></img>
        <div class="remove-img" style="padding-top:32px">
          <button ng-click="removeImage()" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>
      <div class="files-to-upload" ng-show="uploader.isHTML5 && !event.pic && uploader.queue.length > 0" ng-repeat="item in uploader.queue">
        <div class="img" ng-thumb="{file: item.file, width: 95, height: 84}" ></div>
        <div class="remove-img" style="padding-top:32px">
          <button ng-click="removeFromQueue(item)" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="eventMore" class="col-sm-2 control-label">{{i18n.event.lnkToDesc}}</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="eventMore" name="more" ng-server-error
      maxlength="64" ng-model="event.more" placeholder="{{i18n.placeholder.lnkToDesc}}">
    </div>
    <div class="col-sm-offset-2 col-sm-10" ng-show="formEventValidations && form.event.more.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span ng-show="form.event.more.$error.server" class="error">
        {{form.event.more.$error.errorText}}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="eventDesc" class="col-sm-2 control-label"><span class="add-info">{{i18n.event.andOr}}</span> {{i18n.event.desc}}</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="eventDesc" rows="5" name="description"
        maxlength="1800" ng-model="event.description" placeholder="{{i18n.placeholder.desc}}"
        ng-required="!event.description && !event.more"></textarea>
    </div>        
    <div class="col-sm-offset-2 col-sm-10" ng-show="formEventValidations && form.event.description.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span class="error">
        {{i18n.error.lnkOrDesc}}
      </span>
    </div>   
  </div>
  <div class="form-group">
    <label for="eventCategory" class="col-sm-2 control-label">{{i18n.event.category}} *</label>
    <div class="col-sm-4">
      <select class="form-control" id="eventCategory" ng-model="event.category.id" required
        ng-options="c.id as c.name for c in categories" name="category">
         <option value="">-- {{i18n.event.chooseCategory}} --</option>
      </select>
    </div>
    <div class="col-sm-offset-2 col-sm-10" ng-show="formEventValidations && form.event.category.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span class="error">
        {{i18n.error.category}}
      </span>
    </div>       
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{i18n.event.type}} *</label>
    <div ng-if="!event.canDelete" class="col-sm-10">
      <input type="text" class="form-control" readonly name="oneTimeType"
        value="{{event.oneTimeType ? i18n.placeholder.oneTimeType : i18n.placeholder.oneTimeType}}">
    </div>
    <div ng-if="event.canDelete">
      <div class="btn-group col-sm-10" data-toggle="buttons">
        <label class="btn btn-info btn-sm" ng-class="{active: event.oneTimeType}" ng-click="isOneTimeType($event, true)">
          <input type="radio" name="eventType" id="oneTimeType"> {{i18n.placeholder.oneTimeType}}
        </label>
        <label class="btn btn-info btn-sm" ng-class="{active: !event.oneTimeType}" ng-click="isOneTimeType($event, false)">
          <input type="radio" name="eventType" id="tmpType"> {{i18n.placeholder.tmpType}}
        </label>
      </div>
      <span class="col-sm-offset-2 col-sm-10" ng-hide="event.id">
        <span class="glyphicon glyphicon-info-sign add-info"></span>
        <span class="add-info">{{i18n.placeholder.checkType}}</span>
      </span>
    </div>
  </div>
  <div class="event-pdtp" ng-repeat="pdtp in event.pdtps" ng-form="subForm">
    <div ng-include="'views/' + (event.oneTimeType ? 'panelEventOneTime.html' : 'panelEventTmp.html')" ></div>
    <div class="form-group">
      <label for="eventPlace{{$index}}" class="col-sm-2 control-label">{{i18n.event.where}} *</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="eventPlace{{$index}}" required
        maxlength="64" ng-model="pdtp.place" ng-readonly="pdtp.readonly" name="place"
        placeholder="{{i18n.placeholder.where}}" >
      </div> 
      <div class="col-sm-offset-2 col-sm-10" ng-show="formEventValidations && subForm.place.$invalid">
        <span class="glyphicon glyphicon-exclamation-sign error"></span>
        <span class="error">
          {{i18n.error.where}}
        </span>
      </div>       
    </div>
    <div class="form-group">
      <label for="eventPrice{{$index}}" class="col-sm-2 control-label">{{i18n.event.price}} *</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="eventPrice{{$index}}" required
         ng-model="pdtp.price" ng-readonly="pdtp.readonly" maxlength="64" name="price"
         placeholder="{{i18n.placeholder.price}}" >
      </div>
      <div class="col-sm-offset-2 col-sm-10" ng-show="formEventValidations && subForm.price.$invalid">
        <span class="glyphicon glyphicon-exclamation-sign error"></span>
        <span class="error">
          {{i18n.error.price}}
        </span>
      </div> 
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a class="next" href="" ng-click="addPdtp($index)">{{i18n.event.next}} &gt;&gt;</a>
        <a class="next pull-right" href ng-click="removePdtp($index)" 
            ng-show="isRemovePdtpShown(pdtp)">{{i18n.event.remove}}</a>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" ng-click="saveEvent()" autofocus>{{i18n.action.save}}</button>
      <button type="button" class="btn btn-warning" ng-click="cancelClicked()" ng-show="cancelClicked!==undefined">{{i18n.action.cancel}}</button>
      <a href="" class="pull-right xs-delete-button pull-right" ng-click="deleteEvent()" ng-show="event.canDelete && event.id">
        <span class="glyphicon glyphicon-trash warn-text"></span> {{i18n.event.deleteEvent}}
      </a>
    </div>
  </div>   
</form>
