<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>{{i18n.event.title}}</th>
        <th>{{i18n.event.where}}/{{i18n.event.when}}</th>
        <th>{{i18n.event.mod}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in submittedEvents">
        <td>{{$index + 1}}</td>
        <td>{{event.title}}</td>
        <td>{{event.locdate}}</td>
        <td>{{event.mod | date:i18n.calendar.format + ', ' + i18n.calendar.time}}</td>
        <td><a href ng-click="loadExistingEvent(event.id)">{{i18n.action.edit}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
