<alert type="evtMsgPanel.type" ng-show="evtMsgPanel.show" ng-switch on="evtMsgPanel.messages.length">
    <p ng-switch-when="1">{{evtMsgPanel.messages[0]}}</p>
    <ul ng-switch-default>
      <li ng-repeat="msg in evtMsgPanel.messages">
        {{msg}}
      </li>
    </ul>
</alert>
<form class="form-horizontal panel-event" role="form" name="form.event">
  <div class="form-group">
    <label for="eventTitle" class="col-sm-2 control-label">Tytuł *</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="eventTitle" required
      maxlength="128" ng-model="event.title" ng-readonly="event.titleReadonly"/>
    </div>
  </div>
  <div class="form-group">
    <label for="eventPic" class="col-sm-2 control-label">Zdjęcie</label>
    <div class="col-sm-10">
      <input type="file" id="eventPic" ng-file-select ng-model="event.selectedPic"/>
      <div ng-if="event.selectedPic" ng-hide="event.isImg" class="not-img">
        <span class="glyphicon glyphicon-ban-circle"/>
        Niedozwolnony format, wybierz jpg, png, jpeg, bmp albo gif
      </div>
      <div class="files-to-upload" ng-hide="uploader.queue.length > 0 || !event.pic">
        <img class="img" ng-src="{{event.pic}}" width="95" height="84"/>
        <div class="remove-img" style="padding-top:32px">
          <button ng-click="removeImage()" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove-circle"/>
          </button>
        </div>
      </div>
      <div class="files-to-upload" ng-show="uploader.isHTML5" ng-repeat="item in uploader.queue"
        ng-show="uploader.queue.length > 0">
        <div class="img" ng-thumb="{file: item.file, width: 95, height: 84}" />
        <div class="remove-img" style="padding-top:32px">
          <button ng-click="removeFromQueue(item)" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove-circle"/>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="eventMore" class="col-sm-2 control-label">Link do opisu</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="eventMore"
      maxlength="64" ng-model="event.more"/>
    </div>
  </div>
  <div class="form-group">
    <label for="eventDesc" class="col-sm-2 control-label">Opis</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="eventDesc" rows="5"
      maxlength="4096" ng-model="event.desc"/>
    </div>
  </div>
  <div class="form-group">
    <label for="eventCategory" class="col-sm-2 control-label">Kategoria *</label>
    <div class="col-sm-4">
      <select class="form-control" id="eventCategory" ng-model="event.category" required
        ng-options="c.id as c.name for c in categories">
         <option value="">-- wybierz kategorię --</option>
      </select>
    </div>
  </div>
  <div class="event-when" ng-repeat="pdp in event.pdp">
    <div class="form-group">
      <label for="eventPlace" class="col-sm-2 control-label">Miejsce *</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="eventPlace{{$index}}" required
        maxlength="128" ng-model="pdp.place" ng-readonly="pdp.readonly"/>
      </div>
      <label for="eventDate" class="col-sm-2 control-label">Data *</label>
      <div class="col-sm-4 input-group" ng-switch on="pdp.readonly">
        <input ng-switch-when="true" type="text" class="form-control" value="{{pdp.date | date:'dd-MMMM-yyyy'}}" readonly />
        <input ng-switch-default type="text" class="form-control" id="eventDate{{$index}}"
          datepicker-popup="dd-MMMM-yyyy" ng-model="pdp.date" is-open="pdp.opened"
          min="minDate" datepicker-options="dateOptions" required
          current-text="Dziś" toggle-weeks-text="Tygodnie" close-text="Zamknij" clear-text="Wyczyść"/> 
        <span ng-switch-default class="input-group-btn">
          <button class="btn btn-default" ng-click="openCalendar($event, pdp)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>    
    </div> 
    <div class="form-group">
      <label for="eventTime" class="col-sm-2 control-label">Czas *</label>
      <div class="col-sm-4" id="eventTime{{$index}}" ng-model="pdp.time" ng-switch on="pdp.readonly">
        <input ng-switch-when="true" type="text" class="form-control" value="{{pdp.time | date:'HH:mm'}}" readonly />
        <timepicker ng-switch-default show-meridian="isMeridian"/>
      </div>
      <label for="eventPrice" class="col-sm-2 control-label">Cena *</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="eventPrice{{$index}}" required
         ng-model="pdp.price" ng-readonly="pdp.readonly"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a class="next" href ng-click="addPdp($index)">Następne miejsce / data / czas / cena >></a>
        <a class="next pull-right" href ng-click="removePdp($index)" 
          ng-show="isRemovePdpShown(pdp)">Usuń</a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="saveEvent()">Zapisz</button>
      <a class="btn btn-default" ng-click="cancelClicked()" ng-show="cancelClicked!==undefined">Anuluj</a>
    </div>
  </div>       
</form>
