<info-panel panel="instMsgPanel" form="form.inst"></info-panel>
<form class="form-horizontal form-inst" role="form" name="form.inst" 
    novalidate ng-class="{validate: formInstValidations}">
  <div class="form-group">
    <label for="detailsName" class="col-sm-2 control-label">Nazwa *</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="detailsName" required placeholder="nazwa organizatora"
        maxlength="64" ng-model="inst.name" name="name" ng-server-error />
    </div>
    <div class="col-sm-offset-2 col-sm-10" ng-show="formInstValidations && form.inst.name.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span ng-show="form.inst.name.$error.required" class="error">
        Podaj nazwę organizatora
      </span>
      <span ng-show="form.inst.name.$error.server" class="error">
        {{form.inst.name.$error.errorText}}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="detailsEmail" class="col-sm-2 control-label">E-mail (login) *</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="detailsEmail" required
        placeholder="adres e-mail, który będzie używany do logowania"
        maxlength="64" ng-model="inst.email" name="username" ng-server-error ng-server-error-name="email"/>
    </div>
    <div class="col-sm-offset-2 col-sm-10" ng-show="formInstValidations && form.inst.username.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span ng-show="form.inst.username.$error.required || form.inst.username.$error.email" class="error">
        Podaj poprawny adres e-mail
      </span>
      <span ng-show="form.inst.username.$error.server" class="error">
        {{form.inst.username.$error.errorText}}
      </span>
    </div>
  </div>   
  <div class="form-group">
     <span class="col-sm-offset-2 col-sm-10">
      <a href ng-click="changePwd()">Zmień hasło</a>
     </span>
  </div>
  <div class="form-group">   
    <span class="add-info col-sm-12 text-center">Użytkownik będzie mógł wyświetlić poniższe dane przy wydarzeniu:</span> 
  </div>
  <div class="form-group">
    <label for="detailsAddress" class="col-sm-2 control-label">Adres</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="detailsAddress" name="address"
      maxlength="128" ng-model="inst.address"/>
    </div>
  </div>
  <div class="form-group">
    <label for="detailsWeb" class="col-sm-2 control-label">Strona domowa</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="detailsWeb" name="web"
        maxlength="64" ng-model="inst.web" ng-server-error />
    </div>
    <div class="col-sm-offset-2 col-sm-10" ng-show="formInstValidations && form.inst.web.$invalid">
      <span class="glyphicon glyphicon-exclamation-sign error"></span>
      <span ng-show="form.inst.web.$error.server" class="error">
        {{form.inst.web.$error.errorText}}
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="detailsTel" class="col-sm-2 control-label">Telefon</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="detailsTel" name="telephone"
      maxlength="64" ng-model="inst.telephone"/>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" ng-click="saveInst()">Zapisz</button>
      <a href class="pull-right xs-delete-button pull-right" ng-click="deleteInst()" ng-show="deleteInst!==undefined">
        <span class="glyphicon glyphicon-trash danger-text"></span> Usuń konto
      </a>
    </div>
  </div>
</form>