<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">Wydarzenia</a></li>
      <li class="active">Potwierdzenie rejestracji</li>
    </ol>
  </div>
  <div class="row">
    <h4>
      <span class="glyphicon glyphicon-ok success-text"></span> Dziękujemy za potwierdzenie rejestracji.
      <span ng-if="type === 'u'"> Możesz zalogować się <a href="#/login">tutaj</a></span>
      <span ng-if="type === 'a'"> E-mail z prośbą o potwierdzenie został wysłany do użytkownika</span>
    </h4>
  </div>
</div>
