<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">Wydarzenia</a></li>
      <li class="active">Rejestracja organizatora</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-3">
      Dotychczas zarejestrowali się:
      <div class="well">
        <ul class="insts-list">
          <li ng-repeat="inst in registeredInsts">{{inst.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div ng-include="'views/panelInst.html'"></div>
    </div>
  </div>
</div>
