<div class="container">
  <div class="row top-bar">
    <div class="col-xs-11">
      <ol class="breadcrumb">
        <li><a href="#">{{i18n.main.menu.events}}</a></li>
        <li class="active">{{i18n.panel.title}} - {{inst.name}}</li>
      </ol>
    </div>
    <div class="col-xs-1">
      <a class="pull-right logout" href="" ng-click="logout()">{{i18n.login.signout}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="well">
        <div class="panel-side-navigation">
          <ul class="nav nav-list">
            <li ng-class="{active:(option===1)}">
              <a href="" ng-click="option=1; loadInst()">{{i18n.panel.menu.inst}}</a>
            </li>
            <li ng-class="{active:(option===2)}">
              <a href="" ng-click="option=2; loadNewEvent()">{{i18n.panel.menu.newEvent}}</a>
            </li>
            <li ng-class="{active:(option===3)}">
              <a href="" ng-click="option=3; loadSubmittedEvents()">{{i18n.panel.menu.issuedEvents}}</a>
              <ul class="nav nav-list" ng-show="option===4">
                <li class="active">
                  <a href="" ng-click="option=4; reloadSubmittedEvent()">
                    <span class="glyphicon glyphicon-edit active">
                      {{eventTitle}}
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div ng-include="'views/' + partial"></div>
    </div>
  </div>
</div>