<div class="form-group">
  <label for="eventDate{{$index}}" class="col-sm-2 control-label">{{i18n.event.when}} *</label>
  <div class="col-sm-3 input-group" ng-switch="" on="pdtp.readonly">
    <input ng-switch-when="true" type="text" class="form-control" value="{{pdtp.toDate | date:i18n.calendar.format}}" readonly="readonly">
    <input ng-switch-default="" type="text" class="form-control" id="eventDate{{$index}}" name="toDate" ng-date-fix="" datepicker-popup="{{i18n.calendar.format}}" ng-model="pdtp.toDate" is-open="pdtp.opened" ng-server-error="" ng-server-error-name="pdtps[{{$index}}].toDate" min="minDate" datepicker-options="dateOptions" required="" placeholder="{{i18n.placeholder.date}}" maxlength="10" current-text="{{i18n.calendar.today}}" toggle-weeks-text="{{i18n.calendar.weeks}}" close-text="{{i18n.action.close}}" clear-text="{{i18n.action.clear}}"> 
    <span ng-switch-default="" class="input-group-btn">
      <button class="btn btn-default" ng-click="openCalendar($event, pdtp)">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
  </div>
  <label for="eventTime{{$index}}" class="col-sm-offset-1 col-sm-2 control-label">{{i18n.event.time}} *</label>
  <div class="col-sm-2" id="eventTime{{$index}}" ng-model="pdtp.startTime" ng-switch="" on="pdtp.readonly">
    <input ng-switch-when="true" type="text" class="form-control" value="{{pdtp.startTime | date:i18n.calendar.time}}" readonly="readonly">
    <timepicker ng-switch-default="" show-meridian="isMeridian" name="startTime"></timepicker>
  </div>
  <div class="col-sm-offset-2 col-sm-5" ng-show="formEventValidations && subForm.toDate.$invalid">
    <span class="glyphicon glyphicon-exclamation-sign error"></span>
    <span ng-show="!subForm.toDate.$error.date && subForm.toDate.$error.required" class="error">
      {{i18n.error.date}} 
    </span>
    <span ng-show="subForm.toDate.$error.date" class="error">
      {{i18n.error.badDate}}
    </span>    
    <span ng-show="subForm.toDate.$error.server" class="error">
      {{subForm.toDate.$error.errorText}}
    </span>    
  </div> 
  <!-- TODO bgawel: workaround: no name for 'time' -->
  <div class="col-sm-offset-{{subForm.toDate.$invalid ? '1' : '8'}} col-sm-4" ng-show="formEventValidations && (subForm.startTime.$invalid || (subForm.$error.time && subForm.$error.time[0]))">
    <span class="glyphicon glyphicon-exclamation-sign error"></span>
    <span class="error">
      {{i18n.error.time}}
    </span>
  </div>   
</div>