<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">{{i18n.main.menu.events}}</a></li>
      <li class="active">{{i18n.confirm.signup.title}}</li>
    </ol>
  </div>
  <div class="row">
    <h4>
      <span class="glyphicon glyphicon-ok success-text"></span> {{i18n.confirm.signup.msg}}
      <span ng-if="type === 'u'"> {{i18n.confirm.signup.login1}} <a href="#/login">{{i18n.confirm.signup.login2}}</a></span>
      <span ng-if="type === 'a'"> {{i18n.confirm.signup.forward}}</span>
    </h4>
  </div>
</div>