@import 'panelInst';
@import 'panelEvent';
@import 'panelSubmittedEvents';

.panel-side-navigation {
  .active {
    font-weight: bold;
  }
  
  a:focus {
  	outline: none;  
	}
	
	.nav .nav span {
		padding-left: 30px;
	}
}

.form-horizontal {
	.xs-delete-button {
		margin-top: 11px;
	}
}
