.event-pdtp {
  border-top: 1px solid #DDDDDD;
  padding-top: 15px;

  a.next:hover, a.next:focus {
		text-decoration: none;
  } 
}

.form-event {
	.inc {
		&.left {
	  	border-left: none;
	  }
	  
	  &.right {
	  	border-right: none;
	  }
	}
  
  .files-to-upload {
  	margin-top: 5px;
  	
  	.img {
  	  float:left;
  	}
  	
  	.remove-img button {
  	  margin-left:5px;
  	}
  }
  
  .not-img {
  	color: #B94A48;
  }
  
  .time-desc-hint {
  	padding-top: 7px;
  }
}